<nav class="bottom-nav">

  <!-- Accueil -->
  <a
    routerLink="/tabs/dashboard"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <ion-icon name="home-outline"></ion-icon>
    <span>Accueil</span>
  </a>

  <!-- Budgets -->
  <a
    routerLink="/tabs/budgets"
    routerLinkActive="active"
  >
    <ion-icon name="wallet-outline"></ion-icon>
    <span>Budgets</span>
  </a>

  <!-- Bouton central -->
  <a
    class="fab"
    routerLink="/tabs/budgets"
    [queryParams]="{ create: 1 }"
  >
    <ion-icon name="add"></ion-icon>
  </a>

  <!-- Statistiques -->
  <a
    routerLink="/tabs/stats"
    routerLinkActive="active"
  >
    <ion-icon name="stats-chart-outline"></ion-icon>
    <span>Stats</span>
  </a>

  <!-- Profil -->
  <a
    routerLink="/tabs/profile"
    routerLinkActive="active"
  >
    <ion-icon name="person-outline"></ion-icon>
    <span>Profil</span>
  </a>

</nav>